<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoma.im.dao.FriendsRelationshipMapper">
  <resultMap id="BaseResultMap" type="com.xiaoma.im.entity.FriendsRelationship">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="friend_id" jdbcType="INTEGER" property="friendId" />
    <result column="friend_user_id" jdbcType="INTEGER" property="friendUserId" />
    <result column="friend_nick_name" jdbcType="VARCHAR" property="friendNickName" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
  </resultMap>
</mapper>