<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoma.im.dao.MessageQueueListMapper">
  <resultMap id="BaseResultMap" type="com.xiaoma.im.entity.MessageQueueList">
    <id column="message_id" jdbcType="INTEGER" property="messageId" />
    <result column="is_consumption" jdbcType="INTEGER" property="isConsumption" />
    <result column="message_content" jdbcType="VARCHAR" property="messageId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="create_time" jdbcType="DATE" property="updateTime" />
  </resultMap>

  <select id="insert"  resultType="int">
    ${sqlStr}
  </select>

  <select id="countByTransactionNo"  resultType="long">
    ${sqlStr}
  </select>
</mapper>