<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoma.im.dao.UserBalanceMoneyMapper">
    <resultMap id="BaseResultMap" type="com.xiaoma.im.entity.UserBalanceMoney">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="money" jdbcType="DECIMAL" property="money" />
        <result column="version" jdbcType="INTEGER" property="version" />
    </resultMap>


    <select id="getUserMoney"  resultType="com.xiaoma.im.entity.UserBalanceMoney">
        ${sqlStr}
    </select>
</mapper>